*.class


/node_modules

# SSH Keys

*.pem
*.ppk

# Mobile Tool for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Grandle Tempory files /
target/

# Eclipse files
**/.project
**/.classpath
**/.settings/
/bin/
blog/bin/
**/.tern-project

# IntelliJ files
**/*.iml
**/.idea
**/.grandle


# Virtual marchine crash logs, see http://www.java.com/en/download/error_hotspot.xml
hs_err_pid*
/.metadata/